In [12]:
import warnings
warnings.filterwarnings('ignore')

## Cleaning, Combining, and Labeling Direction and Design

In [8]:
# Import module
import os
import pandas as pd
# Assign directory
directory = r"C:\Users\ab991130\Documents\GitHub\Afkhami-Data-Usage\In_plane_compressions"
df = pd.DataFrame(columns = ['Force','Displacement', 'ID'])
count = 0
# Iterate over files in directory
for path, folders, files in os.walk(directory):
    for filename in files:
        if filename.endswith('csv'):
            with open(os.path.join(directory, filename)) as f:

                #Extracting Features from filename
                Design = filename[0]
                Direction = filename[2]
                Displacement_Rate = filename[4:7]
                id = count + 1
                #Creating Temporary DataFrame
                tdf = pd.read_csv(filename,skiprows=2)
                tdf = tdf.drop(tdf.columns[2], axis=1)
                tdf = tdf.drop(tdf.columns[2], axis=1)
                tdf.columns=['Force', 'Displacement']

                tdf['Design'] = Design
                tdf['Direction'] = Direction
                tdf['Displacement Rate'] = Displacement_Rate
                tdf['ID'] = id
                count += 1
                df = pd.concat([df, tdf], ignore_index=True)
df

C:\Users\ab991130\AppData\Local\Temp\ipykernel_18200\946167064.py:30: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, tdf], ignore_index=True)

             Force  Displacement  ID Design Direction Displacement Rate
0         0.000064     -0.000149   1      A         X               0.1
1        -0.000355     -0.000122   1      A         X               0.1
2         0.004733     -0.000355   1      A         X               0.1
3        -0.001949     -0.000374   1      A         X               0.1
4         0.003855     -0.000237   1      A         X               0.1
...            ...           ...  ..    ...       ...               ...
108737 -190.590100    -26.780952  24      F         Y               1.8
108738 -190.616900    -26.782848  24      F         Y               1.8
108739 -190.604340    -26.783546  24      F         Y               1.8
108740 -190.614870    -26.785297  24      F         Y               1.8
108741 -190.608400    -26.783356  24      F         Y               1.8

[108742 rows x 6 columns]

## Changing all Cat data to Num for model

In [10]:
# Convert categorical data to numerical data using replace
df['Design'] = df['Design'].replace({'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5})
df['Direction'] = df['Direction'].replace({'X': 0, 'Y': 1})
df

C:\Users\ab991130\AppData\Local\Temp\ipykernel_18200\2303067870.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Design'] = df['Design'].replace({'A': 0, 'B': 1, 'C': 2, 'D': 3, 'E': 4, 'F': 5})
C:\Users\ab991130\AppData\Local\Temp\ipykernel_18200\2303067870.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Direction'] = df['Direction'].replace({'X': 0, 'Y': 1})

             Force  Displacement  ID  Design  Direction Displacement Rate
0         0.000064     -0.000149   1       0          0               0.1
1        -0.000355     -0.000122   1       0          0               0.1
2         0.004733     -0.000355   1       0          0               0.1
3        -0.001949     -0.000374   1       0          0               0.1
4         0.003855     -0.000237   1       0          0               0.1
...            ...           ...  ..     ...        ...               ...
108737 -190.590100    -26.780952  24       5          1               1.8
108738 -190.616900    -26.782848  24       5          1               1.8
108739 -190.604340    -26.783546  24       5          1               1.8
108740 -190.614870    -26.785297  24       5          1               1.8
108741 -190.608400    -26.783356  24       5          1               1.8

[108742 rows x 6 columns]

In [24]:
df.to_csv("PreProcessedData.csv", index='False')